<div class="content">
    <div class="row col-md-12">
        <li class=" search-bar input-group">
            <button class=" btn btn-link" data-target="#searchModal" data-toggle="modal" (click)="open(search)" id="search-button">
          <i class=" tim-icons icon-zoom-split"></i>
          <span class=" d-lg-none d-md-block">Rechercher</span>
        </button>
        </li>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Titre</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let report of reports; index as i">
                        <td class="text-center">{{ report.title }}</td>
                        <td>{{ report.description }}</td>
                        <td class="td-actions text-right">
                            <button type="button" (click)="displayReportDetails(i)" rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon">
                              <i class="tim-icons icon-pencil"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="noReportFound" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-center">Aucun signalement trouvé</p>
        </div>
    </div>
</div>

<ng-template #search let-modal>
    <div class=" modal-header bg-success">
        <form (ngSubmit)="searchReport(searchForm)" #searchForm="ngForm" class="form-inline" role="form">
            <div class="form-group">
                <input type="text" class="form-control bg-dark" id="keyword" name="keyword" placeholder="Rechercher..." ngModel>
            </div>
            <div class="form-group">
                <select name="category" id="category" class="form-control bg-dark" ngModel>
                  <option *ngFor="let category of reportCategories" [value]="category">{{category}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success"><i class=" tim-icons icon-zoom-split"></i></button>
        </form>
    </div>

</ng-template>

<ng-template #report_details_modal let-modal>
    <div class="modal-header bg-dark">
        {{ currentReport.title }}
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="modal.dismiss('Cross click')">
        <i class=" tim-icons icon-simple-remove"> </i>
      </button>
    </div>
    <div class="modal-body bg-dark">
        <div class="row">
            <div class="col-md-6 font-weight-bold">Date</div>
            <div class="col-md-6">{{ currentReport.date }}</div>
        </div>
        <div class="row">
            <div class="col-md-6 font-weight-bold">Description</div>
            <div class="col-md-6">{{ currentReport.description }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">Status</div>
            <div class="col-md-6">
                <div ngbDropdown>
                    <div data-toggle="dropdown" ngbDropdownToggle>
                        <button class="btn btn-success">Nouveau</button>
                    </div>
                    <ul class="bg-dark" ngbDropdownMenu>
                        <li>
                            <button class="btn btn-danger btn-block" (click)="changeReportStatus('new')">Nouveau</button>
                        </li>
                        <li>
                            <button class="btn btn-info btn-block" (click)="changeReportStatus('processing')">En cours</button>
                        </li>
                        <li>
                            <button class="btn btn-success btn-block" (click)="changeReportStatus('done')">Fini</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">Photo</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img [src]="imageToShow" class="card-img-top" alt="Photo" height="250" width="200" *ngIf="!isImageLoading; else noImageFound">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noImageFound>
    <img data-src="holder.js/100px180/" alt="Photo" />
</ng-template>